<div class="card" data-id="<%= portfolio_item.id %>">
  <%= image_tag portfolio_img(portfolio_item.thumb_image_url, 'thumb') %>
  <p class="card-text">
  	<span>
  		<%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %> <%= portfolio_item.subtitle %>
  	</span>
  </p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="social_links">
      <a href="https://github.com/SumanDas3001" target="_blank"><%= fa_icon "github" %></a>
    </div>
  </div>
</div>
																																																																											