<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper("alert alert-success blog-sidebar-source font-style") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <li><a href="#">March 2019</a></li>
      <li><a href="#">February 2019</a></li>
      <li><a href="#">January 2019</a></li>
      <li><a href="#">December 2019</a></li>
      <li><a href="#">November 2019</a></li>
      <li><a href="#">October 2019</a></li>
      <li><a href="#">September 2019</a></li>
      <li><a href="#">August 2019</a></li>
      <li><a href="#">July 2019</a></li>
      <li><a href="#">June 2019</a></li>
      <li><a href="#">May 2019</a></li>
      <li><a href="#">April 2019</a></li>
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social_links">
      <li><a href="https://github.com/SumanDas3001" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/suman-das-9068b5142/" target="_blank"><%= fa_icon "linkedin" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>

</div>